<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<f:viewParam name="page" value="#{pageRequest.page}" />
	<f:viewParam name="size" value="#{pageRequest.size}" />
	<f:viewParam name="sort" value="#{pageRequest.order.property}" />
	<f:viewParam name="dir" value="#{pageRequest.order.direction}" />
	<f:viewParam name="sprop" value="#{pageRequest.filter.property}" />
	<f:viewParam name="sval" value="#{pageRequest.filter.value}" />
	<f:viewParam name="group" value="#{pageRequest.groupBy}" />

</f:view>