<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/layouts/main_new.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:e5ui="http://efive.ru/uitemplates" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:e5ui-comp="http://efive.ru/uitemplates/composite">

	<ui:define name="header">
		<div id="form_header">
			<div id="actionbar">
				<div class="menu">
					<div class="defbutton">
						<h:commandLink action="#{bean.cancel}" immediate="true">
							<h:graphicImage value="#{resource['images:button-back.png']}" />
							<h:outputText value="#{msgs.backLbl}" />
						</h:commandLink>
					</div>
					<div class="defbutton">
						<h:commandLink action="#{bean.save}">
							<h:graphicImage value="#{resource['images:save_buttn.png']}" />
							<h:outputText value="#{msgs.saveLbl}" />
						</h:commandLink>
					</div>
				</div>
			</div>
		</div>
	</ui:define>

	<ui:define name="left_menu"></ui:define>

	<ui:define name="content">
		<div id="header_content">
			<ui:insert name="form_caption" />
		</div>
		<div class="main_content">
			<ui:insert name="form" />
		</div>
	</ui:define>

</ui:composition>

