<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/layouts/main_new.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:e5ui="http://efive.ru/uitemplates" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:e5ui-comp="http://efive.ru/uitemplates/composite">

	<ui:define name="header_buttons">
		<div class="defbutton">
			<h:link outcome="form">
				<h:graphicImage value="#{resource['images:newf_buttn_icon.png']}" />
				<h:outputText value="#{msgs.createLbl}" />
			</h:link>
		</div>
		<div class="defbutton">
			<h:link includeViewParams="true">
				<h:graphicImage value="#{resource['images:button-refresh.png']}" />
				<h:outputText value="#{msgs.refreshLbl}" />
			</h:link>
		</div>
		<div class="defbutton">
			<h:link onclick="e5ui_dataTable.collapseRowGroups('data_table'); return false;">
				<h:graphicImage value="#{resource['images:plus.png']}" />
				<h:outputText value="#{msgs.collapseAllLbl}" />
			</h:link>
		</div>
		<div class="defbutton">
			<h:link onclick="e5ui_dataTable.expandRowGroups('data_table'); return false;">
				<h:graphicImage value="#{resource['images:minus.png']}" />
				<h:outputText value="#{msgs.expandAllLbl}" />
			</h:link>
		</div>
	</ui:define>
	<ui:define name="content">
		<h:outputScript>
		var resizeTimer = null;
		$(function() {
			$(window).bind('resize', function() {
				if (resizeTimer) 
					clearTimeout(resizeTimer);
				resizeTimer = setTimeout(update_content, 100);
			});
			update_content();
		})

		function update_content() {
			var height = document.body.clientHeight - $("#view_header").height() - $("#footer").height();
			$("#table_wrap").height(height);
			$("#table_inner").height(height);
		};
		</h:outputScript>
		<div id="main_table">
			<div id="table_wrap">
				<div id="table_inner" style="position: relative;">
					<ui:insert name="table">
					</ui:insert>
				</div>
			</div>
		</div>
	</ui:define>

</ui:composition>

