<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:e5ui="http://efive.ru/uitemplates"
	xmlns:e5ui-comp="http://efive.ru/uitemplates/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<h:outputStylesheet library="css" name="style_new.css" />
	<h:outputStylesheet library="css" name="cssLayout.css" />
	<h:outputStylesheet library="css" name="default.css" />
	<!--[if lte ie 8]> 
		<link rel="stylesheet" type="text/css" href="/asoz-war/resources/css/ie.css" />
	<![endif]-->

	<title><h:outputText value="#{msgs.defaultPageTitle}" /></title>
</h:head>

<h:body id="main_body">
	<div style="display: none;">#{not empty session}</div>
	<ui:insert name="running_head"></ui:insert>

	<div id="main_global">

		<h:form id="main_content_form">
			<c:set var="currentView" value="#{facesContext.viewRoot.viewId}" />
			<c:set var="contextPath" value="#{request.contextPath}" />
			<ui:insert name="left_menu">
				<div id="left_menu">
					<div class="header">
						<h:outputText value="#{msgs.menuHeaderLbl}" />
					</div>
					<e5ui:menu>
						<e5ui:menuItem>
							<f:facet name="content">
								<h:link outcome="/process/list.xhtml">
									<h:graphicImage value="#{resource['images:leaf.gif']}" />
									<h:outputText value="#{msgs.menuProcessLbl}" />
								</h:link>
							</f:facet>
						</e5ui:menuItem>
						<e5ui:menuItem collapsable="true" rendered="#{sessionBean.processSelected}">
							<f:facet name="content">
								<span> <h:outputText value="#{msgs.menuStatusLbl}" />
								</span>
							</f:facet>
							<e5ui:menuItem>
								<f:facet name="content">
									<h:link outcome="/status/list.xhtml">
										<h:graphicImage value="#{resource['images:leaf.gif']}" />
										<h:outputText value="#{msgs.byNameLbl}" />
									</h:link>
								</f:facet>
							</e5ui:menuItem>
						</e5ui:menuItem>
						<e5ui:menuItem collapsable="true" rendered="#{sessionBean.processSelected}">
							<f:facet name="content">
								<span> <h:outputText value="#{msgs.menuActionLbl}" />
								</span>
							</f:facet>
							<e5ui:menuItem>
								<f:facet name="content">
									<h:link outcome="/action/list.xhtml">
										<h:graphicImage value="#{resource['images:leaf.gif']}" />
										<h:outputText value="#{msgs.byNameLbl}" />
									</h:link>
								</f:facet>
							</e5ui:menuItem>
							<e5ui:menuItem>
								<f:facet name="content">
									<h:link outcome="/action/list.xhtml">
										<h:graphicImage value="#{resource['images:leaf.gif']}" />
										<h:outputText value="#{msgs.byStatusLbl}" />
										<f:param name="group" value="status" />
									</h:link>
								</f:facet>
							</e5ui:menuItem>
						</e5ui:menuItem>
						<e5ui:menuItem collapsable="true" rendered="#{sessionBean.processSelected}">
							<f:facet name="content">
								<span> <h:outputText value="#{msgs.menuActivityLbl}" />
								</span>
							</f:facet>
							<e5ui:menuItem>
								<f:facet name="content">
									<h:link outcome="/activity/list.xhtml">
										<h:graphicImage value="#{resource['images:leaf.gif']}" />
										<h:outputText value="#{msgs.byNameLbl}" />
									</h:link>
								</f:facet>
							</e5ui:menuItem>
							<e5ui:menuItem>
								<f:facet name="content">
									<h:link outcome="/activity/list.xhtml">
										<h:graphicImage value="#{resource['images:leaf.gif']}" />
										<h:outputText value="#{msgs.byStatusLbl}" />
										<f:param name="group" value="status" />
									</h:link>
								</f:facet>
							</e5ui:menuItem>
							<e5ui:menuItem>
								<f:facet name="content">
									<h:link outcome="/activity/list.xhtml">
										<h:graphicImage value="#{resource['images:leaf.gif']}" />
										<h:outputText value="#{msgs.byActionLbl}" />
										<f:param name="group" value="action" />
									</h:link>
								</f:facet>
							</e5ui:menuItem>
						</e5ui:menuItem>
						<e5ui:menuItem>
							<f:facet name="content">
								<h:link outcome="/search.xhtml">
									<h:graphicImage value="#{resource['icons:magnifier.png']}" />
									<h:outputText value="#{msgs.searchLbl}" />
								</h:link>
							</f:facet>
						</e5ui:menuItem>
					</e5ui:menu>
				</div>
				<div id="news">
					<div class="header">
						<h:outputText value="#{msgs.newsLbl}" />
					</div>
				</div>
				<div id="split"></div>
			</ui:insert>

			<ui:insert name="header">
				<div id="view_header">
					<div id="header">
						<div class="menu">
							<ui:insert name="header_top"></ui:insert>
							<span class="username"><h:outputText
									value="#{sessionManagement.loggedUser.description}" /></span>
						</div>
					</div>
					<div id="actionbar">
						<div class="menu">
							<ui:insert name="header_buttons"></ui:insert>
						</div>
					</div>
				</div>
			</ui:insert>

			<ui:insert name="content">
			</ui:insert>

		</h:form>

		<e5ui-comp:splashScreen id="splash_screen" timeout="0">
			<f:facet name="timeoutPanel">
				<div
					style="background-color: white; border-top: solid 1px black; border-bottom: solid 1px black; padding: 30px; text-align: center; margin: 200px auto; width: 300px;">
					Пожалуйста, подождите...</div>
			</f:facet>
		</e5ui-comp:splashScreen>
		<script>
			e5ui_splashScreen.startShowOnSubmit('splash_screen',
					[ 'main_content_form' ]);
		</script>

		<ui:insert name="footer"></ui:insert>
	</div>
</h:body>

</html>