<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:wd="http://efive.workflow.designer.ru/jsf"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title>JefwdViewer</title>
    </h:head>
    <h:body>

          <h:form id="form">
              <h:panelGrid columns="2">
                  RestFul URL <h:inputText id="efwdUrl" value="#{efwdViewer.efwdUrl}" size="60"/>
                  Proces Id <h:inputText id="dataProcess" value="#{efwdViewer.dataProcess}" />
                  Current Status Id <h:inputText id="dataCurrentStatus" value="#{efwdViewer.dataCurrentStatus}" />
                  style <h:inputText id="style" value="#{efwdViewer.style}" size="60"/>
                  replace<h:inputTextarea id="replace" value="#{efwdViewer.replace}"/>
                  extend <h:inputTextarea id="extend" value="#{efwdViewer.extend}"/>
                  <h:commandButton value="Submit" />
              </h:panelGrid>
          </h:form>

        load = ----
          <wd:efwdViewer
                  efwd_url= "#{efwdViewer.efwdUrl}"
                  data_process="#{efwdViewer.dataProcess}"
                  data_current_status="#{efwdViewer.dataCurrentStatus}"
                  style="#{efwdViewer.style}"
                  extend="#{efwdViewer.extend}"
                  replace="#{efwdViewer.replace}"
                  id="main0"
                  />

        load = extendViewerScript.js
        <wd:efwdViewer
                efwd_url= "#{efwdViewer.efwdUrl}"
                data_process="#{efwdViewer.dataProcess}"
                data_current_status="#{efwdViewer.dataCurrentStatus}"
                style="#{efwdViewer.style}"
                extend="#{efwdViewer.extend}"
                replace="#{efwdViewer.replace}"
                id="main1"
                >
            <f:param name="load" value="extendViewerScript.js" />
        </wd:efwdViewer>

        load = extendViewerScript.js ,  extendViewerScript2.js
        <wd:efwdViewer
                efwd_url= "#{efwdViewer.efwdUrl}"
                data_process="#{efwdViewer.dataProcess}"
                data_current_status="#{efwdViewer.dataCurrentStatus}"
                style="#{efwdViewer.style}"
                extend="#{efwdViewer.extend}"
                replace="#{efwdViewer.replace}"
                id="main2"
                >
            <f:param name="load" value="extendViewerScript.js" />
            <f:param name="load" value="extendViewerScript2.js" />
        </wd:efwdViewer>

    </h:body>
</html>


